.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 kolom */
    grid-template-rows: repeat(3, 100px);
    /* 3 baris dengan tinggi 100px */
    gap: 10px;
    border: 1px solid blue;
}

.item {
    grid-area: 1 / 1 / 3 / 2;
    /* Menggunakan grid-area */
    background-color: lightblue;
}